@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
:root {
    --dark: #2e3192;
    --light: white;
    font-family: 'Play', sans-serif;
    background-color: var(--dark);

}


.ytp-cued-thumbnail-overlay-image iframe {
    size: 50%;
    justify-content: center;
    display: flex;
    margin: 0, 1rem;
    padding: 0, 1rem;
} 

h3 {
    text-align: center;
}

.text {
    font-family: 'Play', sans-serif;
    padding-top: 1rem;
    margin-top: .4rem;
    top: 0;
    color: white;
    font-size: 2rem;
}  

/*youtube video api*/
/*.video img {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 50%;
}

.video iframe {
    display: block;
    margin: 0 auto;
}

.text {
    display: inline-block;
    vertical-align: top;
}
