@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
:root {
    --dark: #2e3192;
    --light: white;
    font-family: 'Play', sans-serif;
    background-color: var(--dark);

}


.video-container {
    justify-content: center;
    display: flex;
    margin: 0, 1rem;
    padding: 0, 1rem;
}


.text {
    font-family: 'Play', sans-serif;
    padding-top: 1rem;
    margin-top: .4rem;
    top: 0;
    color: white;
    font-size: 2rem;
} 

