@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
:root {
    --dark: #2e3192;
    --light: white;
    font-family: 'Play', sans-serif;
    background-color: var(--dark);

}


/*#playHeader {
    color: var(--light);
    font-size: 300%;
    font-family: 'Play', sans-serif;
    line-height: 300%;


}

.timeDay {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 50px;
    margin: 20px;
    line-height: 240%;
}

#day {
    font-size: 175%;
    font-family: 'Play', sans-serif;
    color: var(--light);
}

#time {
    font-size: 350%;
    font-family: 'Play', sans-serif;
    color: var(--light);
}

#tagline {
    margin-bottom: -4rem;
    line-height: 200%;
    font-family: 'Play', sans-serif;
    color: var(--light);
}

.imgincenter {
    width: 30%;
    display: block;
    margin: auto;
}